<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('header') %>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url("https://imgpile.com/images/67c90eaf9604057f0f9c0e52ffeb119c.jpg");
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-attachment: fixed;
      }

      .container {
        width: 80%;
        max-width: 400px;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.685);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        color: #333;
        font-size: 2em;
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 15px;
        position: relative;
      }

      label {
        font-size: 1.1em;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      input.error {
        border-color: red;
      }

      .error-message {
        color: red;
        font-size: 0.9em;
        position: absolute;
        bottom: -18px;
        left: 0;
      }
      .message {
        color: green;
        font-size: 1.1em;
        margin-top: 9px;
        font-weight: normal;
        text-align: center;
      }

      .login-btn {
        padding: 10px;
        background-color: #4caf50;
        color: white;
        font-size: 1.2em;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 10px auto;
      }

      .login-btn:hover {
        background-color: #45a049;
      }

      .switch-form {
        text-align: center;
        margin-top: 20px;
      }

      .switch-form a {
        color: #4caf50;
        text-decoration: none;
      }
      .home-form {
        text-align: center;
        margin-top: 20px;
      }
      .home-form a {
        text-decoration: none;
      }

      .switch-form a:hover {
        text-decoration: underline;
      }
      .forgot-password {
        text-align: center;
        margin-top: 10px;
      }

      .forgot-password a {
        color: #4caf50;
        text-decoration: none;
      }

      .forgot-password a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <% if (typeof message !== 'undefined' && message) { %>
        <div class="message"><%= message %></div>
        <% } %>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= data.email || '' %>"
            class="<%= errors.email ? 'error' : '' %>"
            oninput="clearError('email')"
          />
          <% if (errors.email) { %>
          <div class="error-message"><%= errors.email.msg %></div>
          <% } %>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            value="<%= data.password || '' %>"
            class="<%= errors.password ? 'error' : '' %>"
            oninput="clearError('password')"
          />
          <% if (errors.password) { %>
          <div class="error-message"><%= errors.password.msg %></div>
          <% } %>
        </div>
        <button class="login-btn" type="submit">Login</button>
      </form>
      <div class="forgot-password">
        <a href="/forgot-password">Forgot Password?</a>
      </div>

      <div class="switch-form">
        <p>Don't have an account? <a href="/register">Register here</a></p>
      </div>
    </div>

    <script>
      function clearError(field) {
        const inputElement = document.getElementById(field);
        const errorMessage = inputElement
          .closest(".form-group")
          .querySelector(".error-message");
        if (errorMessage) {
          errorMessage.style.display = "none";
        }
        inputElement.classList.remove("error");
      }
    </script>
  </body>
</html>
